<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/user.css">
    
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <img [routerLink]="['/']" src="assets/img/logo.png" class="img-fluid" style="height: 75px">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar">
                    </span><span class="icon-bar">
                </span>
            </button>
        </div>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a [routerLink]="['/']">Home</a></li>
                    <li role="presentation"><a [routerLink]="['/construcao']">About</a></li>
                    <li role="presentation"><a [routerLink]="['/construcao']">Contato</a></li>
                </ul><button class="btn btn-primary navbar-btn navbar-right" type="button" style="background-color:#ff0606;">
                    <strong>Sair</strong>
                </button>
            </div>
        </div>
    </nav>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/grafico']"><span>Gráfico</span></a></li>
        <li><a [routerLink]="['/tabela']"><span>Tabela</span></a></li>
        <li><a><span>Relatório</span></a></li>
	</ol>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-2" style="padding:5px;">
                <div style="background-color:white;height:600px;">
                    <div class="row">
						<div class="col-md-12"><button class="btn btn-default" type="button" style="width:224.83px; margin: 2px" [routerLink]="['/construcao']">Relatório</button></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><button class="btn btn-default" type="button" style="width:224.83px; margin: 2px" [routerLink]="['/construcao']">Avanços</button></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><button class="btn btn-default" type="button" style="width:224.83px; margin: 2px" [routerLink]="['/construcao']">Cronograma</button></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><button class="btn btn-default" type="button" style="width:224.83px; margin: 2px" [routerLink]="['/construcao']">Atividades</button></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><button class="btn btn-default" type="button" style="width:224.83px; margin: 2px" [routerLink]="['/construcao']">Agenda</button></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><button class="btn btn-default" type="button" style="width:224.83px; margin: 2px" [routerLink]="['/construcao']">Finanças</button></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><button class="btn btn-default" type="button" style="width:224.83px; margin: 2px" [routerLink]="['/construcao']">Configurações</button></div>
                    </div>
                </div>
            </div>
			
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div></div>
    <footer class="site-footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <h5>Exercício Front-End © 2018</h5>
                </div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <h5>Exercício feito por Alvaro Ferreira</h5>
        </div>
    </footer>

    
</body>

</html>